body{
    background-color: lightpink;
}
table{
    border: 5px solid red;
    padding: 1%;
    margin: 15px;
    padding-left: 20px;
    width: 200px;
    height: 100px;  
}
#points{
    font-style: oblique;
    font-weight: 900;
    font-size: large;   
    font-family: Arial, Helvetica, sans-serif;
}
.planets{
    text-align: center;
}
h2{
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 1px 1px red;
    font-style: italic;
}
header div{
    text-indent: 90px;
    line-height: 30px;
}   
img{
    border-radius: 50%;
    width: 200px;
    padding: 0%;
    border: 10px solid white;
}
@keyframes heading {
    from {color: white;}
    to {color: black;}
  }
  
h1{
    color: black;
    animation-name: heading;
    animation-duration: 10s; 
}
a{
    color: red;
    background-color: lightpink;
}
a:hover{
    color: white;
    background-color: lightpink;
}
.background{
    background-image: url(stars.jpg);
}
ol > li {
    font-size: 15px;
}
.planets a {
    font-size: 23px;
}